# /etc/ssh/sshd_config
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
AuthorizedKeysFile none
AuthorizedKeysCommand /sshkey.sh
AuthorizedKeysCommandUser ve

UsePAM no
PrintMotd no
Subsystem sftp /usr/lib/openssh/sftp-server

# Enable logging
LogLevel DEBUG3
