# /etc/ssh/sshd_config
PermitRootLogin prohibit-password
PasswordAuthentication no
ChallengeResponseAuthentication no
AuthorizedKeysFile none
AuthorizedKeysCommand /sshkey.sh
AuthorizedKeysCommandUser ve
PermitUserEnvironment yes

UsePAM no
PrintMotd no
Subsystem sftp /usr/lib/openssh/sftp-server

# Enable logging
LogLevel DEBUG3
