# /etc/ssh/sshd_config
Port 2137
PermitRootLogin prohibit-password
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no
Subsystem sftp /usr/lib/openssh/sftp-server

# Enable logging
LogLevel VERBOSE
