name: kubectl

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Setup KubeSolo
        uses: fenio/setup-kubesolo@bb00c04a3c137c576b06daafd1d7f93f1aa0ecd9 # v3
        env:
          KUBESOLO_LOCAL_STORAGE: true

      - name: kubectl check
        run: |
          kubectl version


