name: kubectl

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Setup KubeSolo
        uses: fenio/setup-kubesolo@bb00c04a3c137c576b06daafd1d7f93f1aa0ecd9 # v3
        env:
          KUBESOLO_LOCAL_STORAGE: true

      - name: kubectl check
        run: |
          kubectl version


